{% include 'partials/main.html' %}

    <head>
        {% include 'partials/title-meta.html' %}

		{% include 'partials/head-css.html' %}
    </head>

    <body class="authentication-bg authentication-bg-pattern"></body>
        <footer class="footer footer-alt">
            2015 - <script>document.write(new Date().getFullYear())</script> &copy; UBold theme by <a href="{{ url_for('index') }}" class="text-white-50">Coderthemes</a> 
        </footer>

        <!-- Authentication js -->
        <!--<script src="assets/js/pages/authentication.init.js"></script>-->

    </body>
</html>